In [16]:
# 1. ImportaciÃ³n de LibrerÃ­as
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 2. ConfiguraciÃ³n de VisualizaciÃ³n
# Para que los grÃ¡ficos se muestren en el notebook
%matplotlib inline
# Estilo de los grÃ¡ficos
sns.set_style('whitegrid')
plt.style.use('ggplot')

# 3. Carga de Datos
# La ruta es relativa a la ubicaciÃ³n del notebook.
# '../' significa 'subir un nivel de carpeta' (de 'notebooks' a la raÃ­z del proyecto).
file_path = '../data/listings.csv.gz'
df = pd.read_csv(file_path, compression='gzip')

# 4. InspecciÃ³n Inicial RÃ¡pida
print(f"El dataset tiene {df.shape[0]} filas y {df.shape[1]} columnas.")
df.head()

El dataset tiene 26004 filas y 79 columnas.

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,21853,https://www.airbnb.com/rooms/21853,20250612050748,2025-06-26,city scrape,Bright and airy room,We have a quiet and sunny room with a good vie...,We live in a leafy neighbourhood with plenty o...,https://a0.muscache.com/pictures/68483181/87bc...,83531,...,4.82,4.21,4.67,NaN,f,2,0,2,0,0.25
1,30320,https://www.airbnb.com/rooms/30320,20250612050748,2025-06-27,previous scrape,Apartamentos Dana Sol,NaN,NaN,https://a0.muscache.com/pictures/336868/f67409...,130907,...,4.78,4.90,4.69,NaN,f,3,3,0,0,0.94
2,30959,https://www.airbnb.com/rooms/30959,20250612050748,2025-06-27,previous scrape,Beautiful loft in Madrid Center,Beautiful Loft 60m2 size just in the historica...,NaN,https://a0.muscache.com/pictures/78173471/835e...,132883,...,4.63,4.88,4.25,NaN,f,1,1,0,0,0.06
3,40916,https://www.airbnb.com/rooms/40916,20250612050748,2025-06-26,previous scrape,Apartasol Apartamentos Dana,NaN,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,130907,...,4.79,4.88,4.55,NaN,t,3,3,0,0,0.27
4,62423,https://www.airbnb.com/rooms/62423,20250612050748,2025-06-25,city scrape,MAGIC ARTISTIC HOUSE IN THE CENTER OF MADRID,INCREDIBLE HOME OF AN ARTIST SURROUNDED BY PAI...,DISTRICT WITH VERY GOOD VIBES IN THE MIDDLE OF...,https://a0.muscache.com/pictures/miso/Hosting-...,303845,...,4.86,4.97,4.59,NaN,f,3,1,2,0,2.70

## 1. Vistazo General y Limpieza de Datos

En esta secciÃ³n, realizaremos una primera inspecciÃ³n del dataset para entender su estructura, identificar columnas irrelevantes, manejar valores nulos y corregir los tipos de datos. El objetivo es tener un DataFrame limpio y listo para el anÃ¡lisis exploratorio.

In [17]:
# Ver un resumen de todas las columnas, sus tipos de datos y los valores no nulos.
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26004 entries, 0 to 26003
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            26004 non-null  int64
 1   listing_url                                   26004 non-null  object
 2   scrape_id                                     26004 non-null  int64
 3   last_scraped                                  26004 non-null  object
 4   source                                        26004 non-null  object
 5   name                                          26004 non-null  object
 6   description                                   25104 non-null  object
 7   neighborhood_overview                         11158 non-null  object
 8   picture_url                                   26002 non-null  object
 9   host_id                                       26004 non-null  int64
 10  host_url                                      26004 non-null  object
 11  host_name                                     25989 non-null  object
 12  host_since                                    25988 non-null  object
 13  host_location                                 17935 non-null  object
 14  host_about                                    13059 non-null  object
 15  host_response_time                            21276 non-null  object
 16  host_response_rate                            21276 non-null  object
 17  host_acceptance_rate                          22019 non-null  object
 18  host_is_superhost                             25049 non-null  object
 19  host_thumbnail_url                            25988 non-null  object
 20  host_picture_url                              25988 non-null  object
 21  host_neighbourhood                            8629 non-null   object
 22  host_listings_count                           25988 non-null  float64
 23  host_total_listings_count                     25988 non-null  float64
 24  host_verifications                            25988 non-null  object
 25  host_has_profile_pic                          25988 non-null  object
 26  host_identity_verified                        25988 non-null  object
 27  neighbourhood                                 11158 non-null  object
 28  neighbourhood_cleansed                        26004 non-null  object
 29  neighbourhood_group_cleansed                  26004 non-null  object
 30  latitude                                      26004 non-null  float64
 31  longitude                                     26004 non-null  float64
 32  property_type                                 26004 non-null  object
 33  room_type                                     26004 non-null  object
 34  accommodates                                  26004 non-null  int64
 35  bathrooms                                     20065 non-null  float64
 36  bathrooms_text                                25974 non-null  object
 37  bedrooms                                      23550 non-null  float64
 38  beds                                          20069 non-null  float64
 39  amenities                                     26004 non-null  object
 40  price                                         20080 non-null  object
 41  minimum_nights                                26004 non-null  int64
 42  maximum_nights                                26004 non-null  int64
 43  minimum_minimum_nights                        25989 non-null  float64
 44  maximum_minimum_nights                        25989 non-null  float64
 45  minimum_maximum_nights                        25989 non-null  float64
 46  maximum_maximum_nights                        25989 non-null  float64
 47  minimum_nights_avg_ntm                        26004 non-null  float64
 48  maximum_nights_avg_ntm                        26004 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              24483 non-null  object
 51  availability_30                               26004 non-null  int64
 52  availability_60                               26004 non-null  int64
 53  availability_90                               26004 non-null  int64
 54  availability_365                              26004 non-null  int64
 55  calendar_last_scraped                         26004 non-null  object
 56  number_of_reviews                             26004 non-null  int64
 57  number_of_reviews_ltm                         26004 non-null  int64
 58  number_of_reviews_l30d                        26004 non-null  int64
 59  availability_eoy                              26004 non-null  int64
 60  number_of_reviews_ly                          26004 non-null  int64
 61  estimated_occupancy_l365d                     26004 non-null  int64
 62  estimated_revenue_l365d                       20080 non-null  float64
 63  first_review                                  20763 non-null  object
 64  last_review                                   20763 non-null  object
 65  review_scores_rating                          20763 non-null  float64
 66  review_scores_accuracy                        20762 non-null  float64
 67  review_scores_cleanliness                     20761 non-null  float64
 68  review_scores_checkin                         20761 non-null  float64
 69  review_scores_communication                   20762 non-null  float64
 70  review_scores_location                        20759 non-null  float64
 71  review_scores_value                           20758 non-null  float64
 72  license                                       4396 non-null   object
 73  instant_bookable                              26004 non-null  object
 74  calculated_host_listings_count                26004 non-null  int64
 75  calculated_host_listings_count_entire_homes   26004 non-null  int64
 76  calculated_host_listings_count_private_rooms  26004 non-null  int64
 77  calculated_host_listings_count_shared_rooms   26004 non-null  int64
 78  reviews_per_month                             20763 non-null  float64
dtypes: float64(23), int64(20), object(36)
memory usage: 15.7+ MB

### 2. SelecciÃ³n de Columnas Relevantes

El dataset original contiene 79 columnas, muchas de las cuales no son relevantes para nuestro anÃ¡lisis (URLs, IDs de scrapeo, etc.). Para simplificar el manejo y enfocarnos en los datos importantes, seleccionaremos un subconjunto de estas columnas.

In [18]:
# Lista de columnas que conservaremos para el anÃ¡lisis
columns_to_keep = [
    'id', 'name', 'host_id', 'host_is_superhost', 'neighbourhood_cleansed', 
    'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 
    'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price', 
    'minimum_nights', 'maximum_nights', 'number_of_reviews', 'review_scores_rating',
    'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin',
    'review_scores_communication', 'review_scores_location', 'review_scores_value'
]

# Creamos un nuevo DataFrame solo con estas columnas
df_madrid = df[columns_to_keep].copy()

# Verificamos la nueva dimensiÃ³n del DataFrame
print(f"El nuevo dataset tiene {df_madrid.shape[0]} filas y {df_madrid.shape[1]} columnas.")

# Mostramos las primeras filas del nuevo DataFrame
df_madrid.head()

El nuevo dataset tiene 26004 filas y 25 columnas.

,id,name,host_id,host_is_superhost,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,...,minimum_nights,maximum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,21853,Bright and airy room,83531,f,CÃ¡rmenes,40.40381,-3.74130,Private room in rental unit,Private room,1,...,4,40,33,4.58,4.72,4.56,4.75,4.82,4.21,4.67
1,30320,Apartamentos Dana Sol,130907,f,Sol,40.41476,-3.70418,Entire rental unit,Entire home/apt,2,...,5,50,172,4.63,4.71,4.88,4.82,4.78,4.90,4.69
2,30959,Beautiful loft in Madrid Center,132883,f,Embajadores,40.41259,-3.70105,Entire loft,Entire home/apt,2,...,3,730,8,4.38,4.14,4.38,4.63,4.63,4.88,4.25
3,40916,Apartasol Apartamentos Dana,130907,f,Universidad,40.42247,-3.70577,Entire rental unit,Entire home/apt,2,...,5,50,49,4.65,4.69,4.90,4.85,4.79,4.88,4.55
4,62423,MAGIC ARTISTIC HOUSE IN THE CENTER OF MADRID,303845,f,Justicia,40.41884,-3.69655,Private room in rental unit,Private room,4,...,1,30,234,4.65,4.78,4.44,4.80,4.86,4.97,4.59

### 2.1. Limpieza de la Columna 'price'

La columna `price` es fundamental para nuestro anÃ¡lisis, pero estÃ¡ formateada como texto (object) debido a los sÃ­mbolos de moneda y separadores. Necesitamos convertirla a un tipo numÃ©rico (float) para poder realizar cÃ¡lculos y visualizaciones.

In [19]:
# Inspeccionamos algunos valores de la columna 'price' antes de la limpieza
print("Valores de 'price' antes de la limpieza:")
print(df_madrid['price'].head())

# Eliminamos el sÃ­mbolo '$' y las comas ',' usando expresiones regulares para mÃ¡s robustez
# .str.replace('[$,]', '', regex=True) busca cualquier '$' o ',' y lo reemplaza por nada
df_madrid['price'] = df_madrid['price'].str.replace('[$,]', '', regex=True).astype(float)

# Verificamos el tipo de dato despuÃ©s de la conversiÃ³n
print("\nTipo de dato de 'price' despuÃ©s de la limpieza:")
print(df_madrid['price'].dtype)

# Mostramos los valores limpios
print("\nValores de 'price' despuÃ©s de la limpieza:")
print(df_madrid['price'].head())

Valores de 'price' antes de la limpieza:
0    $29.00
1       NaN
2       NaN
3       NaN
4    $64.00
Name: price, dtype: object

Tipo de dato de 'price' despuÃ©s de la limpieza:
float64

Valores de 'price' despuÃ©s de la limpieza:
0    29.0
1     NaN
2     NaN
3     NaN
4    64.0
Name: price, dtype: float64

### 3. Manejo de Valores Nulos

Los datasets del mundo real raramente estÃ¡n completos. Antes de proceder con el anÃ¡lisis, es crucial identificar las columnas con valores faltantes y aplicar una estrategia para manejarlos. Las estrategias pueden incluir eliminar las filas, imputar valores (como la media o la mediana) o simplemente tomar nota de su ausencia.

In [20]:
# Calculamos el porcentaje de valores nulos para cada columna
null_percentage = (df_madrid.isnull().sum() / len(df_madrid)) * 100

# Filtramos solo las columnas que tienen valores nulos y las ordenamos
null_percentage = null_percentage[null_percentage > 0].sort_values(ascending=False)

# Mostramos el resultado
print("Porcentaje de valores nulos por columna:")
print(null_percentage)

Porcentaje de valores nulos por columna:
beds                           22.823412
price                          22.781111
review_scores_value            20.173819
review_scores_location         20.169974
review_scores_checkin          20.162283
review_scores_cleanliness      20.162283
review_scores_communication    20.158437
review_scores_accuracy         20.158437
review_scores_rating           20.154592
bedrooms                        9.437010
host_is_superhost               3.672512
bathrooms_text                  0.115367
dtype: float64

#### 3.1. ImputaciÃ³n en `host_is_superhost`
Para la columna `host_is_superhost`, asumiremos que los valores nulos corresponden a anfitriones que no son "Superhost" y rellenaremos con el valor 'f' (falso).

In [21]:
# Rellenamos los NaN en 'host_is_superhost' con 'f' (la moda o el valor mÃ¡s comÃºn)
df_madrid['host_is_superhost'].fillna('f', inplace=True)

# Verificamos que ya no hay nulos en esa columna
print(f"Valores nulos en 'host_is_superhost' despuÃ©s de rellenar: {df_madrid['host_is_superhost'].isnull().sum()}")

Valores nulos en 'host_is_superhost' despuÃ©s de rellenar: 0

C:\Users\SGV\AppData\Local\Temp\ipykernel_6176\2368809452.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_madrid['host_is_superhost'].fillna('f', inplace=True)

#### 3.2. EliminaciÃ³n de Filas con Datos Faltantes CrÃ­ticos
Para columnas esenciales como `bedrooms`, `beds`, y las puntuaciones de reseÃ±as, la ausencia de datos impide un anÃ¡lisis comparativo justo. Dado que representan un porcentaje manejable del total, eliminaremos las filas (`rows`) que contengan cualquier valor nulo en estas columnas especÃ­ficas para asegurar la calidad y fiabilidad de nuestro anÃ¡lisis posterior.

In [22]:
# Definimos las columnas crÃ­ticas para nuestro anÃ¡lisis
critical_columns = ['bedrooms', 'beds', 'review_scores_rating']

# Guardamos el nÃºmero de filas antes de eliminar
rows_before = df_madrid.shape[0]

# Eliminamos las filas que tienen al menos un valor nulo en las columnas crÃ­ticas
df_madrid.dropna(subset=critical_columns, inplace=True)

# Guardamos el nÃºmero de filas despuÃ©s de eliminar
rows_after = df_madrid.shape[0]

# Imprimimos un resumen del proceso
print(f"Se han eliminado {rows_before - rows_after} filas.")
print(f"El DataFrame ahora tiene {rows_after} filas.")

# Verificamos que ya no hay nulos en el DataFrame
print("\nConteo de nulos despuÃ©s de la limpieza final:")
print(df_madrid.isnull().sum())

Se han eliminado 9210 filas.
El DataFrame ahora tiene 16794 filas.

Conteo de nulos despuÃ©s de la limpieza final:
id                              0
name                            0
host_id                         0
host_is_superhost               0
neighbourhood_cleansed          0
latitude                        0
longitude                       0
property_type                   0
room_type                       0
accommodates                    0
bathrooms_text                 16
bedrooms                        0
beds                            0
amenities                       0
price                           3
minimum_nights                  0
maximum_nights                  0
number_of_reviews               0
review_scores_rating            0
review_scores_accuracy          1
review_scores_cleanliness       1
review_scores_checkin           2
review_scores_communication     1
review_scores_location          1
review_scores_value             1
dtype: int64

#### 3.3. Limpieza Final
DespuÃ©s de la eliminaciÃ³n principal, observamos que quedan una cantidad insignificante de valores nulos en columnas secundarias. Para garantizar un dataset completamente limpio, procederemos a eliminar estas Ãºltimas filas residuales.

In [23]:
# Guardamos el nÃºmero de filas antes de la limpieza final
rows_before = df_madrid.shape[0]

# Eliminamos cualquier fila que todavÃ­a contenga algÃºn valor nulo
df_madrid.dropna(inplace=True)

# Guardamos el nÃºmero de filas despuÃ©s
rows_after = df_madrid.shape[0]

print(f"Se han eliminado {rows_before - rows_after} filas adicionales.")
print(f"El DataFrame final y limpio tiene {rows_after} filas.")

# VerificaciÃ³n final y definitiva
print("\nConteo de nulos definitivo:")
print(df_madrid.isnull().sum().sum()) # .sum().sum() suma todos los nulos de todas las columnas

Se han eliminado 21 filas adicionales.
El DataFrame final y limpio tiene 16773 filas.

Conteo de nulos definitivo:
0